* {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.link-reader {
    margin: 42px 22px 955px 42px;
    font-weight: 400;
    font-size: 18px; 
    color: #17233D;
    cursor: pointer;
}

.botao-reader {
    border-radius: 200px;
    color: white;
    background: rgb(88, 240, 3);
    height: 52px;
    width: 124px;
    margin-top: 40px;
    margin-left: 30px;
    cursor:pointer; 
}

.logo-img {
    width: 533px;
    height: 466px;
    display: inline-block;
    margin: 277,20px 723,98px 279,90px 182,18px;
     display: inline-block;
    
    }
section {
    display: inline-block;
    margin-right: 300px;
     margin-bottom: 372px;
   

}

h1 {
    font-weight: 700;
    color: #161A49;
    font-size: 20px;
    line-height: 82px;
    margin-bottom: 47px;

}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    width: 493px;
    margin-bottom: 55px;
    margin-top: 47px;
}

.button-section {
    color: #6FBF44;
    font-weight: 500;
    font-size: 18px;
    height: 52px;
    width: 150px;
    cursor: pointer;
    border: none;
    background: transparent;

}